{% extends 'registration/_base.html' %}
{% load static %}
{% block registration_body %}

<div class="auth-form-transparent text-left p-3">
  <div class="auth-form-transparent text-left p-3">
    <div class="brand-logo">
      <img src="{% static 'images/logo.svg' %}" alt="logo">
    </div>
    <h6>Forgot password</h6>

    <form method="post" class="pt-3">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail">{{ form.email.label_tag }}</label>
        <div class="input-group">
          <div class="input-group-prepend bg-transparent">
            <span class="input-group-text bg-transparent border-right-0">
              <i class="ti-user text-primary"></i>
            </span>
          </div>
          <input type="email" name="email" autofocus="" autocapitalize="none" autocomplete="email" maxlength="150"
            class="form-control form-control-sm border-left-0" required="" id="id_email">
        </div>
      </div>

      <div class="my-3">
        <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
      </div>
    </form>
  </div>
</div>
{% endblock %}